body {
    margin: 0;
    padding:0;
    overflow: hidden;
}

canvas {
    display:block;
}

#leftSideNav {
    height: 100vh; /* 100% Full-height */
    width: 15vw;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 30px; /* Place content 60px from the top */
}

.box {
    border: 3px solid #666;
    background-color: #ddd;
    border-radius: .5em;
    padding: 10px;
    cursor: move;
    margin: 10px;
}

#rightSideNav {
    height: 100vh; /* 100% Full-height */
    width: 20vw; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 80vw;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 30px;
}

#rightSideNav input {
    width: 80%;
}

#rightSideNav select {
    width: 82%;
}

.settings_component {
    color: #dddddd;
}

.component_header {
    line-height: 0.5;
}

.component_subheader {
    margin-bottom: 75px;
}

.property_label {
    font-size: large;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.remove_button {
    background-color: #8f1d14;
    border: 3px solid  #8f1d14;
    border-radius: .5em;
    width: 80%;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 60px;
}


.default_button {
    background-color: #148f1a;
    border: 3px solid #148f1a;
    border-radius: .5em;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 92%;
    margin: 10px 10px 10px 10px;
}

#workspace {
    height: 100vh;
    width: 62vw; /* special values to control borders */
    left: 18vw;
    position: fixed;
}

#packages_list {
    border: 3px solid #666;
    background-color: #ddd;
    padding: 10px;
    margin: 10px;
}

#packages_list li {
    overflow:hidden;
    overflow-y:scroll;
}

#terminal {
    height: 25vh; /* 100% Full-height */
    width: 62vw; /* special values to control borders */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 75vh;
    left: 18vw;
    background-color: #111; /* Black*/
}
